# macOS clutter
.DS_Store
.DS_Store?
._*

# Competitive Programming Helper (.cph)
**/.cph/

# Development / Debug binaries and symbol files
*.dSYM/
**/output/

# Ignore compiled C binaries (files with no extension)
# This rule matches files without dots in their names inside subdirectories
*
!*/
!*.*